
body{
    background-image: url("../img/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
#guy {
    background-image: url("https://res.cloudinary.com/mediocre/image/upload/v1490986842/z0cedqdfzk8z3860jyej.gif");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 200px;
    width: 220px;
    position: absolute;
    color: white; 
    bottom: 50;
    right: 50;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
}

#start-screen {
    margin-top: 20%;
    margin-left: 40%;
    width: 20%;
    color: white;
}
#metrics {
    color: black;
    background-color: white;
    width: 15em;
    height: 17em;
    text-align: center;
    align-self: right;
    border-radius: 2em;
    position: fixed;
    bottom: 0;
    left: 0;
}
#controls {
    color: black;
    background-color: white;
    width: 15em;
    height: 17em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: bottom;
    border-radius: 2em;
    position: fixed;
    bottom: 0;
    right: 0;
    
}
.controls {
    display: block;
    background-color: seagreen;
    width: 6em;
    height: 3em;
    border-radius: 1em;
    

}
.display {
    display: inline-block;
}
